[Desktop Entry]
Type=Application
Version=1.0
GenericName=Evolution
Name=Evolution
Comment=Gerenciador de emails padrão
TryExec=evolution -c tasks
Exec=Evolution -c tasks
Icon=evolution
Terminal=false
X-GNOME-Autostart-Delay=60
