[Desktop Entry]
Type=Application
GenericName=Teams
Name=Teams for Linux
Comment=Microsoft Teams para Linux.
TryExec=teams-for-linux
Exec=teams-for-linux %U
Icon=teams-for-linux
Terminal=false
MimeType=x-scheme-handler/msteams;
Categories=Network;Chat;InstantMessaging;Application;
Terminal=false
StartupNotify=true
Version=0.1.9
